@charset "utf-8";

input{
	background-color	: #FFFFFF;
	border				: 1px #7f9db9 solid;
}

input.rc{
	background-color	: transparent;
	border				: none;
}

select{
	background-color	: #FFFFFF;
	border				: 1px #7f9db9 solid;
}

textarea{
	background-color	: #FFFFFF;
	border				: 1px #7f9db9 solid;
}

span#tt {
	position			: absolute;
	display				: none;
	background-color	: #000000;
	filter				: alpha(opacity=70);
	-moz-opacity		: 0.7;
	opacity				: 0.7;
	color				: #FFFFFF;
	border-bottom		: #FFFFFF solid 10px;
	border-left			: #000000 solid 10px;
	padding				: 8px;
}

table 
input,select,textarea,pre {
	color			: #333333;
	font-size		: inherit;
	color			: inherit;
}

table textarea {
	background-color : #FFFFFF;
}

table.general {
	margin			: 10px auto;
	width			: 70%;
}

table.general th {
	background-color	: #EEEEEE;
	color				: #666666;
	border-left			: solid 3px #BBBBBB;
	border-right		: solid 1px #CCCCCC;
	border-bottom		: solid 1px #CCCCCC;
	padding				: 10px;
	width				: 20%;
	word-break:keep-all;/*IE????*/
}

table.general td {
	background-color	: #F7F7F7;
	color				: #666666;
	border-right		: solid 1px #CCCCCC;
	border-bottom		: solid 1px #CCCCCC;
	padding				: 10px;
	word-break:keep-all;/*IE????*/
}

table.general td.Lline {
	border-left			: solid 3px #BBBBBB;
}

table.general table th,
table.general table td {
	border	: none;
	padding	: 5px;
}

